input, button, textarea, a {
  outline: none !important;

  &:focus, &:active, &:visited {
    outline: none !important;
  }
}

img {
  max-width: 100%;
}

.unstyled-list {
  list-style: none;
  padding:0;
  margin: 0;
}